@media screen and (min-width: 1024px) {

  .header, .header-details, .games, .details, .buttons {
    width: 70%;
    margin: 0 auto;
  }

  .header-details .return {
    width: revert;
  }

  .header, .header-details {
    height: revert;
    justify-content: start;
  }

  .header .game-data, .header-details .game-data {
    height: revert;
  }

  .games .container {
    height: revert;
    overflow-y: auto;
  }

  .platforms {
    width: revert;
  }

  .video {
    width: revert;
  }

  .box {
    display: none;
  }
}