@media screen and (min-width: 1024px) {

  .header, .header-details {
    height: revert;
    justify-content: start;
  }

  .header .game-data, .header-details .game-data {
    height: revert;
  }

  .games .container {
    height: revert;
    overflow-y: auto;
  }

  .platforms {
    width: revert;
  }
}