:root {
  --font-size-h2: 2rem;
  --font-size-p: 1.8rem;
  --font-size-span: 1.4rem;
  --font-size-button: 1.4rem;
  --background-color: #F2F2F2;
  --blue1: #2F80ED;
}

a,
body,
div,
ul,
li,
section,
main,
header,
menu,
nav,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
form,
input,
figure,
image,
picture,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

picture {
  height: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--background-color);
}

