:root {
  --font-size-h2: 2rem;
  --font-size-p: 1.8rem;
  --font-size-span: 1.4rem;
  --font-size-button: 1.4rem;
  --background-color: #060406;
  --blue1: #2f80ed;
}

a,
body,
div,
ul,
li,
section,
main,
header,
menu,
nav,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
form,
input,
figure,
image,
picture,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* a:visited {
  color: #ffffff;
} */

html {
  height: 100%;
  color: #f2f2f2;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

picture {
  height: inherit;
}

img {
  max-width: 100%;
  height: inherit;
  display: block;
}

body {
  background-color: var(--background-color);
}

#app {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  min-width: 320px;
}

.header .menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
}

.menu :is(.menu-button, .search-icon) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rec {
  background-color: #fff;
  width: 40px;
  height: 3px;
}

.menu-button .rec:first-child {
  margin-block-end: 0.8rem;
}

.menu-button .rec:last-child {
  width: 30px;
}

.header .search-icon {
  background-color: transparent;
  width: 50px;
  height: 50px;
}

.header .search-icon .circle {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 24px;
  height: 24px;
}

.header .search-icon .rec {
  transform: rotate(45deg);
  width: 13px;
  height: 5px;
  position: relative;
  top: -3px;
  left: 17px;
}

.header .container {
  height: 240px;
  padding: 1.6rem;
}

.hero {
  width: 100%;
  max-height: inherit;
}

.header .game-data {
  height: 80px;
  padding: 1.6rem;
}

.header .title {
  padding: 1.6rem;
}

.sections {
  height: 60px;
  display: flex;
  align-items: center;
  margin-inline: 1.6rem;
}

.sections :is(h3) {
  color: #6b7bfd;
  font-size: 1.4rem;
  margin-inline-end: 2rem;
}

.sections :is(h3):active {
  color: #fff;
}

.games {
  background-color: #3b4ffe;
  border-top-right-radius: 100px;
  height: 60vh;
  overflow-y: auto;
}

.game {
  background-image: linear-gradient(
    0deg,
    rgba(76, 103, 255, 1) 0%,
    rgba(112, 146, 255, 1) 100%
  );
  border-radius: 10px;
  height: 100px;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 3.5rem 1.6rem;
  padding: 1.6rem;
}

.game-cover {
  height: 100px;
  grid-column: 1/2;
  margin-inline-end: 1.6rem;
  position: relative;
  top: -36px;
}

.game-data {
  height: max-content;
  grid-column: 2/3;
}
