:root {
  --font-size-h2: 2rem;
  --font-size-p: 1.8rem;
  --font-size-span: 1.4rem;
  --font-size-button: 1.4rem;
  --background-color: #060406;
}

a,
body,
div,
ul,
li,
section,
main,
header,
menu,
nav,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
form,
input,
figure,
image,
picture,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
  color: #f2f2f2;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

picture {
  height: inherit;
}

img {
  max-width: 100%;
  height: inherit;
  display: block;
}

body {
  background-color: var(--background-color);
}

#app {
  height: 100%;
  width: 100%;
}

.header,
.header-details {
  color: #fff;
  width: 100%;
  min-width: 320px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-details {
  height: 35vh;
}

.header-details .return {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 3.2rem;
  position: absolute;
  top: 0;
}

.header-details .return .arrow {
  border: 3px solid #fff;
  width: 16px;
  height: 16px;
  border-top: none;
  border-right: none;
  rotate: 45deg;
}

.header .menu {
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
}

.menu :is(.menu-button, .search-icon) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rec {
  background-color: #fff;
  width: 20px;
  height: 3px;
}

.menu-button .rec:first-child {
  margin-block-end: 0.8rem;
}

.menu-button .rec:last-child {
  width: 15px;
}

.header .search-icon {
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.header .search-icon .circle {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 24px;
  height: 24px;
}

.header .search-icon .rec {
  transform: rotate(45deg);
  width: 13px;
  height: 5px;
  position: relative;
  top: 0px;
  left: 17px;
}

.header .container {
  height: 200px;
  padding: 1.6rem 3.2rem;
}

.hero {
  width: 100%;
  height: inherit;
  max-height: inherit;
  display: flex;
  justify-content: center;
}

.hero :is(img) {
  width: 100%;
}

.header .game-data,
.header-details .game-data {
  height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content;
  padding: 1.6rem 3.2rem;
}

.header .game-data .game-name,
.header-details .game-data .game-name {
  grid-column: 1/2;
  grid-row: 1/2;
}

.header .game-data .game-year,
.header-details .game-data .game-year {
  grid-column: 1/2;
  grid-row: 2/3;
}

.header .game-data .game-price,
.header-details .game-data .game-price {
  background-color: #ff1b4b;
  border-radius: 12px;
  width: 48px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  align-self: center;
  grid-column: 2/3;
  grid-row: 1/3;
}

.button {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  margin-block: 0.4rem;
}

a:hover {
  cursor: pointer;
  border-block-end: 1px solid #ffffffaa;
  color: #ffffffaa;
}

.header .title {
  padding-inline: 3.2rem;
}

.sections {
  height: 10vh;
  display: flex;
  align-items: center;
  margin-inline: 3.2rem;
}

.sections :is(h3) {
  color: #6b7bfd;
  font-size: 1.4rem;
  margin-inline-end: 2rem;
}

.sections :is(h3):active {
  color: #fff;
}

.games {
  background-color: #3b4ffe;
  border-top-right-radius: 50px;
}

.games .container {
  height: 40vh;
  overflow-y: auto;
}

.game {
  background-image: linear-gradient(
    0deg,
    rgba(76, 103, 255, 1) 0%,
    rgba(112, 146, 255, 1) 100%
  );
  border-radius: 10px;
  height: 116px;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 3.5rem 3.2rem;
  padding: 1.6rem;
}

.game-cover {
  height: 100px;
  grid-column: 1/2;
  margin-inline-end: 1.6rem;
  position: relative;
  top: -36px;
}

.game .game-data {
  height: max-content;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-column: 2/3;
}

.game .game-data :is(h3, span, .platforms) {
  grid-column: 1/2;
}

.game .game-data :is(a) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.platforms {
  display: flex;
  width: 100px;
  overflow-x: auto;
  padding: 0.8rem;
  padding-inline-start: 0;
}

.platform {
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  margin-inline-end: 0.8rem;
  padding: 0 1.6rem;
}

.details {
  background-color: var(--background-color);
  height: 55vh;
  border-bottom-right-radius: 20%;
  overflow: auto;
  padding: 0 3.2rem;
  position: relative;
  z-index: 10;
}

.details :is(h3, h4) {
  font-size: 1.6rem;
  margin: 1.6rem 0;
}

.details :is(h4) {
  font-size: 1.4rem;
}
.game-year,
.developers,
.details :is(.about-content, .specifications-content) {
  color: #757797;
}

.details :is(.about-content, .specifications-content) {
  font-size: 1.2rem;
  line-height: 1.5;
}

.game-added-modal {
  background: #3b4ffe;
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 508px;
  z-index: 10;
}

.video {
  width: 100vw;
}

.buttons {
  background-color: #3b4ffe;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.2rem;
}

.buttons .like {
  background-image: linear-gradient(
    0deg,
    rgba(76, 103, 255, 1) 0%,
    rgba(112, 146, 255, 1) 100%
  );
  border: none;
  width: 32px;
  height: 32px;
  margin-right: 0.8rem;
}

.buttons .add-cart {
  background-image: linear-gradient(
    0deg,
    #4c67ff 0%,
    rgba(112, 146, 255, 1) 100%
  );
  border: none;
  color: #fff;
  font-weight: 600;
  width: 100%;
  height: 32px;
  text-align: start;
  padding: 0 1.6rem;
}

.like:hover,
.add-cart:hover {
  cursor: pointer;
}

.like:active,
.add-cart:active {
  background-color: #2b38ac;
  background-image: revert;
}

.box {
  height: 10vh;
  width: 100%;
  background-color: #3b4ffe;
  position: absolute;
  z-index: 1;
  top: 80vh;
}
